.shine{
    font-size: 60px;
    position: relative;
    overflow: hidden;
}

.shine:before {
    position: absolute;
    -webkit-animation: shine .6s ease 1.5s;
    animation: shine .6s ease 1.5s;
    content: "";
    top: 0;
    left: -250px;
    width: 100%;
    height: 100%;
    transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);
}

@-webkit-keyframes shine{
    0%  {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0); background: rgba(255,255,255,0.5);}
    100%{transform: rotate3d(0,0,1,-25deg) translate3d(0,-150%,0); background: rgba(255,255,255,0.5);}
}

@keyframes shine{
    0%  {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0); background: rgba(255,255,255,0.5);}
    100%{transform: rotate3d(0,0,1,-25deg) translate3d(0,-150%,0); background: rgba(255,255,255,0.5);}
}