body{
    background-color:#000000;
}

.kaonashi-mask h2{
    position: absolute;
    left:50%;
    top:50%
    animation: scrollmask 7s ease 1.4s infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url('kaonashi1.jpg');
    color: transparent;
    font-size: 200px;
}

@keyframes scrollmask{
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}
