.html,body{
    height: 100%;
    overflow: hidden;
    background-color: skyblue;
}

.wrap1{
    position: absolute;
    left: -300px;
    top: 50p;
    width: 200px;
    height: 200px;
    animation: move 30s infinite linear 10s;
}
.cloud1{
    display: block;
	width: 200px;
	height: 200px;
	background-color: #ccc;
	border-radius: 50%;
	box-shadow: 40px 30px 0 -15px #ccc, -60px 40px 0 -30px #ccc, -100px 0px 0 -50px #ccc, 100px 0px 0 -50px #ccc;
}

.wrap2{
    position: absolute;
    left: -300px;
    top: 80px;
    width: 100px;
    height: 100px;
    animation: move 25s infinite linear 3s;
}
.cloud2{
    display: block;
	width: 100px;
	height: 100px;
	background-color: #ccc;
	border-radius: 50%;
	box-shadow: 19px 31px 0 -100px #ccc, -9px 26px 0 -10px #ccc, 53px -1px 0 2px #ccc, -60px 4px 0 -14px #ccc;
}

.wrap3{
    position: absolute;
    left: -300px;
    top: 70px;
    width: 100px;
    height: 100px;
    animation: move 20s infinite linear;
}
.cloud3 {
    display: block;
	width: 100px;
	height: 100px;
	background-color: #ccc;
	border-radius: 50%;
	box-shadow: -37px -4px 0 -21px #ccc, -13px -38px 0 -10px #ccc, 53px -6px 0 2px #ccc, -60px 4px 0 -14px #ccc;
}

.wrap4{
    position: absolute;
    left: -300px;
    top: 70px;
    width: 100px;
    height: 100px;
    animation: move 15s infinite linear 7s;
}
.cloud4 {
    display: block;
	width: 100px;
	height: 100px;
	background-color: #ccc;
	border-radius: 50%;
	box-shadow: -1px 19px 0 -3px #ccc, -2px -44px 0 -2px #ccc, 59px -6px 0 2px #ccc, -64px -4px 0 -1px #ccc;
}

@keyframes move{
    0%  {transform: translateX(0);}
    100%{transform: translateX(2000px);}
}