.zoomInLeft {
    position: absolute;
    left:20%;
    top:20%;
    width:198px;
    height: 194px;
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft;
    background-image:url('kaonashi1.jpg');
    background-repeat: no-repeat;
    background-size:contain;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes zoomInLeft{
    0% {
        opacity: 0%;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px,0,0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px,0,0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px,0,0);
        transform: scale3d(.475, .475, .475) translate3d(10px,0,0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInLeft{
    0% {
        opacity: 0%;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px,0,0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px,0,0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px,0,0);
        transform: scale3d(.475, .475, .475) translate3d(10px,0,0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    }
    75%{
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475);
        transform: scale3d(.475, .475, .475);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale3d(.475, .475, .475);
        transform: scale3d(.25, .25, .25);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 0.2);
        animation-timing-function: cubic-bezier(0.175, 0.55, 0.32, 0.2);
    }
}