html,body{
    height: 100%;
}

.type-pers-parent{
    perspective: 150px;
    -webkit-perspective: 150px;
    height: 100%;
    background: #222;
    overflow: hidden;
}

.type-pers-child{
    position:absolute;
    text-align: justify;
    padding: 5%;
    top: 50%;
    -webkit-animation: text-scroll linear 15s infinite;
    animation: text-scroll linear 15s infinite; 
    color: #F1C40F;
    letter-spacing: 1px;
}

@-webkit-keyframes text-scroll{
    0%  {transform: rotateX(45deg) translate(0,0);}
    100%{transform: rotateX(45deg) translate(0, -1000px)}
};

@keyframes text-scroll{
    0%  {transform: rotateX(45deg) translate(0,0);}
    100%{transform: rotateX(45deg) translate(0, -1000px)}
};